<div class="container">
  <div class="row">
    <div class="col-6 content">
      <h4>Social Graphics</h4>
      <p>Social media was a big part of our promotion at Backpack Health. I took the lead in creating assets for most of our posts online. We were advocates for various conditions, foundations, and awareness days in the healthcare industry and I created engaging imagery for promoting those subjects.</p>
      <p>We were also proud of our achievements, so I created on-brand graphics to promote our impressive stats. I worked with the other designers to create a flexible visual language for highlighting stats, one that could be used across platforms and media. As a small design team, we had to be aware of our bandwidth and create processes to help produce quality with efficiency.</p>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>

</div>
