<div class="container work example">
  <div class="row">
    <div class="col-12 hero">
      <h1>Backpack Health</h1>
      <p>Product / Marketing Designer</p>
      <p>May2018&ndash;April2019</p>
    </div>
  </div>

  <div class="row">
    <div class="col-6 content">
      <p class="h2">Branding & Identity</p>
      <p class="small">During my time at Backpack, I worked closely with the other designers to help define our brand and identity. The logo, colors, and font choices were already settled on before I came on-board, but during my time I helped the identity evolve. The visual language at Backpack became more refined and consistent across platforms because of the work I did with the commercial and marketing teams. I led the design for pitch decks, business cards, letterheads, and other corporate materials, helping to make our tone and visual presence more consistent. Consistency is important in a brand, so during our retreat in Nashville, I organized and ran a workshop on tone and voice which helped establish what the product values are across the teams.</p>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>
  <div class="row">
    <div class="col-6 content">
      <p class="h2">Social Graphics</p>
      <p class="small">Social media was a big part of our promotion at Backpack Health. I took the lead in creating assets for most of our posts online. We were advocates for various conditions, foundations, and awareness days in the healthcare industry and I created engaging imagery for promoting those subjects.</p>
      <p class="small">We were also proud of our achievements, so I created on-brand graphics to promote our impressive stats. I worked with the other designers to create a flexible visual language for highlighting stats, one that could be used across platforms and media. As a small design team, we had to be aware of our bandwidth and create processes to help produce quality with efficiency.</p>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>
  <div class="row">
    <div class="col-6 content">
      <p class="h2">Events</p>
      <p class="small">We exhibited and attended many events around the world at Backpack Health. Our visual presence is one thing that made us stand out from the numerous other healthcare tech companies. In a sea of blue and white, Backpack’s sizzling red was a beacon. I had the pleasure of creating event collateral, swag, booth graphics, and various other items to support our presence at patient and industry events.</p>
      <p class="small">One of the many things I did for events was design handout materials to promote our successful collaboration with clients and to call out impressive stats. There was a lot of information to convey on a two-sided piece of paper, between the case study and the important stats to highlight. I worked with the Chief Commercial Officer to hone in the messaging while still getting across the information she wanted.</p>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>
  <div class="row">
    <div class="col-6 content">
      <p class="h2">Web Design</p>
      <p class="small">When I started at Backpack Health, there were only a few pages on the marketing site. Since then, I built several new additions to the website and updated some of the existing pages. I took the lead on concepting, designing, developing, and publishing the pages, with feedback and support from the larger team. </p>
      <p class="small">We had plans to refresh the website later this year, which I had began concepting on my own time. I wanted to take a stab at making the app’s users the main audience of the site, rather than focusing on 3 separate targets. </p>
      <p class="small">While developing some new pages, I was hesitant to put down too much foundation in the current website knowing I would be freshening it up in a few months. However, working on the current site, I was able to create some more structure around our files and code, creating new layouts and templates in order to speed up production of getting something published, such as a timely press release. </p>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>
  <div class="row">
    <div class="col-6 content">
      <p class="h2">Illustration</p>
      <p class="small">Early 2019 I started to focus more on developing an illustration style for Backpack. Up to that point, it wasn’t a cohesive, documented style. I was working towards establishing an engaging visual style for our illustrations, which focused on diverse humans interacting with each other and digital devices. These illustrations were displayed in email banners, social media graphics, on the website, and were to be used in-app. At the time of my departure, I was just starting to solidify how things were going to look. I was still doing a bit of experimentation, but I was definitely circling in on something that could be expanded on.</p>
      <a class="btn secondary on-white pl-0" href="https://dribbble.com/aerica">See more illustrations</a>
    </div>
    <div class="col-6">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>
</div>
