<div class="container-fluid work example">
  <div class="row">
    <div class="col-12 hero">
      <h1>Barkly</h1>
      <p class="large">Visual Communication Designer</p>
      <p class="date">Sept 2015&ndash;April 2018</p>
    </div>
  </div>
<a class="anchor" id="branding-and-identity"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Branding & Identity</p>
      <p class="small">Barkly went through several brand iterations while I was a designer there. We began with a friendly, approachable style, but eventually transitioned into a more strong, confident tone. Throughout those transitions, I was able to adapt our branding and identity to be consistent across platforms.</p>
      <p class="small">I would have liked a bit more time to experiment with some brand ideations, but we all wore many hats and decisions needed to be made swiftly. I worked with senior designers and upper management during each brand transition, taking into account their thoughts and feedback, and applying it effectively. </p>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-brand.png">
    </div>
  </div>
<a class="anchor" id="social-graphics-advertising"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Social Graphics & Advertising</p>
      <p class="small">Barkly kept up a strong presence throughout various social platforms. I created assets to accompany posts that promoted anything from webinars, to ebooks, to stats on cybersecurity. </p>
      <p class="small">Online advertising was also a big part of our promotional presence. I created various web banners and ad graphics to promote the current marketing campaign in order to generate new leads</p>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-social-ads.png">
    </div>
  </div>
<a class="anchor" id="ebooks-collateral"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Ebooks & Other Collateral</p>
      <p class="small">Ebooks were a big part of Barkly’s inbound strategy. It was a pleasure to work with the copywriter and other designers to concept and design ebooks promoting and educating about a certain topic. We always tried to put a fun spin on the content, making it more entertaining for our audience. When promoting these assets on various social platforms, we got many compliments on the ease of legibility and for the creativity put into each document.</p>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-ebooks.png">
    </div>
  </div>
<a class="anchor" id="email-marketing"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Email Marketing</p>
      <p class="small">Early in Barkly’s history, email marketing was a big part of promoting our software. I thoroughly enjoyed concepting, designing, and developing html emails to provide to our vendors. The code was challenging, but rewarding when successful. I loved figuring out how to make an email look good across all clients, while also being effective at generating clicks and leads. This part of my career at Barkly was spectacular; I learned a great deal from my teammates.</p>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-email.png">
    </div>
  </div>
<a class="anchor" id="illustration"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Illustration</p>
      <p class="small">Illustration was a big part of Barkly’s brand early on. I was hired in part because of my illustration skills.  I took direction from the senior designer to create illustrations that accompanied the website, ebooks, social graphics, among other media.</p>
      <p class="small">There was a time while I was at Barkly where we were experimenting with updating our brand. Leadership wanted something stronger, but still friendly. The team still wanted illustration, so I experimented with creating a new sophisticated illustration style that could speak to a broader audience. Before this brand had time to result in anything meaningful, the brand and messaging took another turn and the brand underwent another facelift. The illustration at this point was minimal.</p>
      <a class="btn secondary on-white pl-0" href="https://dribbble.com/aerica">See all my illustrations</a>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-realist-guide.png">
    </div>
  </div>
<a class="anchor" id="iconography"></a>
  <div class="row">
    <div class="col-md-6 content">
      <p class="h2">Iconography</p>
      <p class="small">Because of the many different brand directions Barkly tried, I got to create several styles of icons. We promoted our 6 values with icons I sketched, refined, and illustrated to put on display in our conference rooms and as slack emojis. I also created icons to help highlight the benefits and features of our product.</p>
    </div>
    <div class="col-md-6">
        <img src="/assets/images/barkly-icons.png">
    </div>
  </div>
</div>
