<div id="home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-auto">
        <p class="h2">About</p>
        <ul>
          <li><a class="link" href="https://drive.google.com/open?id=1__fOQ_AToCh9ooTRFrKu2nRh37dsjWEa">Resume</a></li>
        <!--  <li><a href="">PDF Portfolio</a> <i class="fas fa-link"></i></li> -->
          <li><a class="link icon-at-small-li" href="https://www.linkedin.com/in/aericalovett/"></a> <i class="fab fa-linkedin"></i></li>
          <li><a class="link icon-at-small-db" href="https://dribbble.com/aerica"></a> <i class="fab fa-dribbble"></i></li>
          <li><a class="link icon-at-small-ig" href="https://www.instagram.com/_illustrica/"></a> <i class="fab fa-instagram"></i></li>
        </ul>
        <p class="h3">Past Work</p>
        <p class="title">Product / Marketing Designer</p>
        <p class="date"><a class="link" href="/work/backpack">Backpack Health</a><br>May 2018&ndash;April 2019</p>
        <p class="title">Visual Communication Designer</p>
        <p class="date"><a class="link" href="/work/barkly">Barkly</a><br>Sept 2017&ndash;April 2018</p>
        <p class="title">Junior Designer</p>
        <p class="date"><a class="link" href="/work/barkly">Barkly</a><br>Sept 2015&ndash;Sept 2017</p>
      </div>
      <div class="col-md-9 col-auto">
        <p class="large">I work with teams and stakeholders to understand the <strong><i>why</i></strong> in order to conceptualize, develop, and execute projects effectively and efficiently.</p>
        <p>I got started working with small mobile games, where I was introduced to graphic design. From there, I moved to the cybersecurity industry, where I really honed my design and front-end web development skills. After Barkly, I worked with several teams, clients, and stakeholders for a healthcare technology company. <a href="/work/backpack"><strong>Backpack Health</strong></a> is really where I grew into a more strategic role, taking charge of the processes and design behind our commercial and marketing’s visual presence.</p>
        <p>I live in Watertown, MA with my boyfriend and <a href="https://www.instagram.com/3_gentlemen_bastards/"><strong>3 fancy rats</strong></a>. Our favorite place to be is together, whether that's at home on the couch playing video games or outside wandering around Mt. Auburn Cemetery, admiring the beauty of nature. </p>
      </div>
    </div>
  </div>
</div>
