<div class="container-fluid about">
  <div class="row hero">
    <div class="col-lg-3">
      <img src="assets/images/website-profile-image.png">
    </div>
      <div class="col-1">
      </div>
    <div class="col-lg-8">
      <h1>Illustrator <span>by degree,</span><br>designer and developer <span>in craft,</span> problem solver <span>by nature.</span></h1>
    </div>
  </div>
  <div class="row content pt-0">
    <div class="col-lg-3">
      <ul>
        <li><a href="https://drive.google.com/open?id=1__fOQ_AToCh9ooTRFrKu2nRh37dsjWEa">Resume</a></li>
      <!--  <li><a href="">PDF Portfolio</a> <i class="fas fa-link"></i></li> -->
        <li><a class="icon-at-small-li" href="https://www.linkedin.com/in/aericalovett/"></a> <i class="fab fa-linkedin"></i></li>
        <li><a class="icon-at-small-db" href="https://dribbble.com/aerica"></a> <i class="fab fa-dribbble"></i></li>
        <li><a class="icon-at-small-ig" href="https://www.instagram.com/_illustrica/"></a> <i class="fab fa-instagram"></i></li>
      </ul>
    </div>
    <div class="col-lg-1">
    </div>
    <div class="col-lg-8">
      <p class="large">I work with teams and stakeholders to understand the <strong><i>why</i></strong> in order to conceptualize, develop, and execute projects effectively and efficiently.</p>
      <p>I got started working with small mobile games, where I was introduced to graphic design. From there, I moved to the cybersecurity industry, where I really honed my design and front-end web development skills. After Barkly, I worked with several teams, clients, and stakeholders for a healthcare technology company. <a href="/work/backpack">Backpack Health</a> is really where I grew into a more strategic role, taking charge of the processes and design behind our commercial and marketing’s visual presence.</p>
      <p>I live in Watertown, MA with my boyfriend and <a href="https://www.instagram.com/3_gentlemen_bastards/">3 pet rats</a>. Our favorite place to be is together, whether that's at home on the couch playing video games or outside wandering around Mt. Auburn Cemetery, admiring the beauty of nature. </p>
    </div>
  </div>
</div>

{% include quotes/brettCollinsonQuoteContent.html %}

<div class="container-fluid about">
  <div class="row content">
    <div class="col-lg-3">
    </div><div class="col-lg-1">
    </div>
  <div class="col-lg-8">
      <p class="h2">Past Work</p>
      <p class="large title">Product / Marketing Designer</p>
      <p class="date"><a href="/work/backpack">Backpack Health</a> | May 2018&ndash;April 2019</p>
      <p class="large title">Visual Communication Designer</p>
      <p class="date">Barkly | Sept 2017&ndash;April 2018</p>
      <p class="large title">Junior Designer</p>
      <p class="date">Barkly | Sept 2015&ndash;Sept 2017</p>
    </div>
  </div>
</div>
