<div id="home-about">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-auto">
        <p class="h2">About</p>
        <ul>
          <li><a class="link" href="https://drive.google.com/open?id=1__fOQ_AToCh9ooTRFrKu2nRh37dsjWEa">Resume</a></li>
        <!--  <li><a href="">PDF Portfolio</a> <i class="fas fa-link"></i></li> -->
          <li><a class="link icon-at-small-li" href="https://www.linkedin.com/in/aericalovett/"></a> <i class="fab fa-linkedin"></i></li>
          <li><a class="link icon-at-small-db" href="https://dribbble.com/aerica"></a> <i class="fab fa-dribbble"></i></li>
          <li><a class="link icon-at-small-ig" href="https://www.instagram.com/_illustrica/"></a> <i class="fab fa-instagram"></i></li>
        </ul>
      </div>
      <div class="col-md-9 col-auto">
        <p class="large">I cultivate growth and engagement by creating work that is timelessly beautiful, factually grounded, and by earning trust through respect. I am motivated by a sincere desire to connect the people I work with to the solutions they need.</p>
        <p class="large">My reputation for delivering high quality work is something I am very proud of. I am so grateful to the many brilliant and diverse individuals who have mentored me throughout my career and I hope to pay it forward everywhere I work.</p>

        <p class="h3">Designing for over 8 years</p>
        <p class="title">Designer & Marketing Manager</p>
        <p class="date"><a class="link" href="/work/backpack">Backpack Health</a><br>May 2018&ndash;April 2020</p>
        <p class="title">Communication Designer</p>
        <p class="date"><a class="link" href="/work/barkly">Barkly</a><br>Sept 2015&ndash;April 2018</p>
        <p class="title">Visual Designer</p>
        <p class="date">dSonic & Rival Marketing<br>March 2012&ndash;Sept 2015</p>
      </div>
    </div>
  </div>
</div>
