<div class="navbar">
  <div class="container">
    <p>Aerica Lovett</p>
  </div>
</div>
<div id="home-hero">
<div class="container hero home">
  <div class="row">
    <div class="col-md-7 col">
      <h1>Dedicated designer creating scalable solutions for people and businesses.</h1>
      <p>I'm working on redesigning my website to better serve those looking to work with me.</p> <p>In the meantime, please connect with me here:</p>
      <ul>
        <li><a href="https://www.linkedin.com/in/aericalovett/"><i class="fab fa-linkedin"></i>LinkedIn</a></li>
        <li><a href="https://dribbble.com/aerica"><i class="fab fa-dribbble"></i>Dribbble</a></li>
        <li><a href="mailto:arlovett16@gmail.com"><i class="fas fa-envelope"></i>Email</a></li>
    <!--      <li><a href="https://www.instagram.com/_illustrica/"><i class="fab fa-instagram"></i>Instagram</a></li>
      <li><a href="https://twitter.com/aericalovett"><i class="fab fa-twitter"></i>Twitter</a></li> -->
        </ul>
      <p class="large"><strong>Thank you!</strong></p>

    </div>

  </div>
</div>
</div>
