<div class="navbar">
  <div class="container">
    <a id="nav-logo" href="/">A<span style="font-variant:small-caps">erica</span> L<span style="font-variant:small-caps">ovett</span></a>
  </div>
</div>
<div id="home-hero">
<div class="container hero home">
  <div class="row">
    <div class="col-md-7 col">
      <h1>Dedicated designer connecting people to solutions that scale.</h1>
      <p>I'm working on redesigning my website to better serve those looking to work with me. In the meantime, you can connect with me here:</p>
      <ul>
        <li><a href="https://dribbble.com/aerica"><i class="fab fa-dribbble"></i></a></li>
        <li><a href="mailto:arlovett16@gmail.com"><i class="fas fa-envelope"></i></a></li>
        <li><a href="https://www.instagram.com/_illustrica/"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/aericalovett"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/in/aericalovett/"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    <!--  <div class="row d-none d-sm-flex">
        <div class="col-12 col-sm-auto">
          <a class="nav-link link" href="#">Social Graphics</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Web Design</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Branding & Identity</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Illustration</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Ebooks & Other Collateral</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Iconography</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Infographics</a>
        </div>
        <div class="col-12 col-sm-auto">
          <a class="nav-link link"href="#">Email Marketing</a>
        </div>
      </div>-->
    </div>
  </div>
</div>
</div>
