<div class="navbar">
  <div class="container">
    <a href="/"><img alt="Aerica Lovett Design" src="/assets/images/logo-aerica-black.png"></a>

    <ul class="nav">
      <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Work</a>
         <div class="dropdown-menu">
           <a class="dropdown-item" href="#">Social Graphics</a>
           <a class="dropdown-item" href="#">Web Design</a>
           <a class="dropdown-item" href="#">Branding & Identity</a>
           <a class="dropdown-item" href="#">Illustration</a>
           <a class="dropdown-item" href="#">Ebooks & Other Collateral</a>
           <a class="dropdown-item" href="#">Iconography</a>
           <a class="dropdown-item" href="#">Infographics</a>
           <a class="dropdown-item" href="#">Email Marketing</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="/work/backpack">Backpack Health</a>
           <a class="dropdown-item" href="/work/barkly">Barkly</a>
         </div>
       </li>
      <li class="nav-item">
        <a class="nav-link" href="#home-about">About</a>
      </li>
    </ul>
  </div>
</div>
