<div class="container-fluid work landing">
  <div class="row content">
    <div class="col-md-4">
      <p class="h2">Backpack Health</p>
      <ul>
        <li><a href="/work/backpack#branding-and-identity">Branding & Identity</a></li>
        <li><a href="/work/backpack#social-graphics">Social Graphics</a></li>
        <li><a href="/work/backpack#events">Events</a></li>
        <li><a href="/work/backpack#web-design">Web Design</a></li>
        <li><a href="/work/backpack#illustrations">Illustration</a></li>
      </ul>
      <a class="btn primary on-white" href="/work/backpack">Take a look</a>
    </div>
    <div class="col-md-8">
      <img src="/assets/images/barkly-sample.png">
    </div>
  </div>
<!--  <div class="row content">
    <div class="col-4">
      <p class="h2">Barkly</p>
      <ul>
        <li><a href="/work/barkly/#branding-and-identity">Branding & Identity</a></li>
        <li><a href="/work/barkly/#social-graphics">Social Graphics</a></li>
        <li><a href="/work/barkly/#events">Events</a></li>
        <li><a href="/work/barkly/#web-design">Web Design</a></li>
        <li><a href="/work/barkly/#illustrations">Illustration</a></li>
      </ul>
      <a class="btn primary on-white" href="/work/barkly">Take a look</a>
    </div>
    <div class="col-8">
      <img src="/assets/images/barkly-cover.png">
    </div>
  </div> -->
</div>
