<div class="container work">

  <div class="row">
    <div class="col-4 content">
      <p class="h2">Backpack Health</p>
      <ul>
        <li><p>Social Graphics</p></li>
        <li><p>Printed Materials</p></li>
        <li><p>Web Design</p></li>
        <li><p>Illustration</p></li>
        <li><p>Branding & Identity</p></li>
      </ul>
      <a class="btn primary on-white" href="/work/backpack">Take a look</a>
    </div>
    <div class="col-8">
        <img src="/assets/images/backpack-cover.png">
    </div>
  </div>

    <div class="row">
      <div class="col-4 content">
        <p class="h2">Personal</p>
        <ul>
          <li><p>Web Design</p></li>
          <li><p>Web Development</p></li>
          <li><p>Branding & Identity</p></li>
        </ul>
        <a class="btn primary on-white" href="/work/backpack">Take a look</a>
      </div>
      <div class="col-8">
          <img src="/assets/images/barkly-sample.png">
      </div>
    </div>
</div>
