<div id="home-backpack">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 col-auto">
        <p class="h2"><a href="/work/backpack">Backpack Health</a></p>
        <ul>
          <li><a class="link" href="/work/backpack#branding-and-identity">Branding & Identity</a></li>
          <li><a class="link" href="/work/backpack#social-graphics">Social Graphics</a></li>
          <li><a class="link" href="/work/backpack#events">Events</a></li>
          <li><a class="link" href="/work/backpack#web-design">Web Design</a></li>
          <li><a class="link" href="/work/backpack#illustrations">Illustration</a></li>
        </ul>
      </div>
      <div class="col-md-9 col-auto">
        <img src="/assets/images/backpack-cover.png">
      </div>
    </div>
  </div>
</div>
<div id="home-barkly">
  <div class="container">
    <div class="row align-items-center">
        <div class="col-md-3 col-auto">
          <p class="h2"><a href="/work/barkly">Barkly</a></p>
          <ul>
            <li><a class="link" href="/work/barkly#branding-and-identity">Branding & Identity</a></li>
            <li><a class="link" href="/work/barkly#social-graphics-advertising">Social Graphics & Advertising</a></li>
            <li><a class="link" href="/work/barkly#ebooks-collateral">Ebooks & Other Collateral</a></li>
            <li><a class="link" href="/work/barkly#email-marketing">Email Marketing</a></li>
            <li><a class="link" href="/work/barkly#illustration">Illustration</a></li>
            <li><a class="link" href="/work/barkly#iconography">Iconography</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-auto">
          <img src="/assets/images/barkly-cover.png">
        </div>
      </div>
  </div>
</div>
