.about{
  .hero{
    padding-top:$spacing-xlarge;
    padding-bottom:$spacing-xxsmall;
    p{
      font-family: $font-roboto-cond;
    }
    h1{
        padding-top:$spacing-xlarge;
        font-size:$display-regular;
    }
  }
  .h2{
      font-family: $font-roboto-cond;
      font-size:$display-small;
      font-weight:$bold;
      text-transform: uppercase;
      letter-spacing: $default-letter-spacing;
      margin-bottom:$spacing-small;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      padding-bottom: $spacing-xxsmall;
      a{
        color:$grey;
        &:hover{
          text-decoration: none;
          border-bottom: $link-underline;
        }
      }
      i.fas, i.fab{
        color:$grey;
        font-size: $body-small;
        padding-left:$spacing-xxsmall;
      }
    }
  }
  p a{
    &:hover{
        color:$red;
        text-decoration: none;
        border-bottom: $link-underline;
    }
  }
  .hero{
    img{
      max-width: 100%;
    }
  }
}
