.footer{
padding-top:$spacing-regular;
padding-bottom:$spacing-regular;
text-align: center;
p a{
  font-size: $navigation-small;
  font-family: $font-roboto-cond;
  letter-spacing: $default-letter-spacing;
  text-transform: uppercase;
    &:hover{
      text-decoration: none;
    }
}
  img{
    max-width: 125px;
    padding-bottom:$spacing-xsmall;
  }
  ul{
    margin:0;
    padding:0;
    li{
      display: inline;
      padding-left: $spacing-xxsmall;
      padding-right: $spacing-xxsmall;
    }
  }
  &.white{
    background-color:$white;
      a{
        color:$black;
      }
    }
  &.red{
    background: $red-gradient;
      a{
        color:$white;
      }
    }
  }
