.footer{
  padding-top:$spacing-regular;
  padding-bottom:$spacing-regular;
  text-align: center;

  a{
    font-family: $font-roboto-cond;
    color:$black !important;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    font-size: $navigation-regular;
    border-bottom: none !important;
  }
  img{
    max-width: 125px;
    padding-bottom:$spacing-xsmall;
  }

  ul{
    margin:0;
    padding:0;
    li{
      display: inline;
      padding-left: $spacing-xxsmall;
      padding-right: $spacing-xxsmall;
      &:hover{
        opacity: 0.75;
      }
    }
  }
  &.white{
    background-color:$white;
      a{
        color:$black;
      }
    }
  &.red{
    background: $red-gradient;
      a{
        color:$white !important;
      }
    }
  }
