.home{
  h1{
    font-size:$display-small;
    padding-bottom:$spacing-xsmall;
    @include browse-large{
      padding-top:$spacing-regular;
      padding-right:$spacing-xlarge;
    }
    @include browse-x-large{
      padding-top:$spacing-regular;
      padding-right:$spacing-xxlarge;
    }
  }
}
