#home-hero{
  position: relative;
  display: block;
  padding-top:$spacing-xsmall;
  padding-bottom:$spacing-small;
}
#home-hero::after{
  position: absolute;
  z-index: -1;
  right: 0;
  left:0;
  top:0;
  bottom:0;
  opacity: 0.05;
  background: url("/assets/images/home-hero-selfie.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  margin-top:30px;
  content:"";
  @include browse-small{
    background-size: 70%;
    background-size: 70%;
    background-position: bottom right;
  }
  @include browse-medium{
    opacity: 0.0;
  }
}
#home-backpack{
  background-color: #C51D4D;
}
.home{
  h1{
    font-size:$display-xsmall;
    line-height:200%;
    @include browse-small{
      font-size:$display-regular;
    }
    @include browse-medium{
      font-size:$display-small;
    }
    @include browse-large{
    font-size:$display-regular;
    }
    @include browse-x-large{
    font-size:$display-large;
    }
  }
  img{
    max-width:100%;
  }
  a{
    font-family: $font-roboto-cond;
  }
  .col-12.col-sm-auto{
    margin-bottom:0;
    @include browse-large{
      margin-bottom: $spacing-xxxsmall;
    }
  }
}
