.navbar{
  z-index: 99999;
  width: 100%;
  background-color: $white;
  box-shadow: $shadow-light;
  position: fixed;
  padding-right: 0;
  padding-left: 0;

  img{
    max-width:125px;
  }
}
.nav{
  padding-top:$spacing-xxsmall;
  padding-bottom:$spacing-xxsmall;

  a{
    font-family: $font-roboto-cond;
    color:$black !important;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    font-size: $navigation-regular;
    border-bottom: none !important;
  }
  img{
    max-width: 100px;
  }
  ul{
    margin:0;
    padding:0;
    li{
      display: inline-block;
      padding-left: $spacing-xxsmall;
      padding-right: $spacing-xxsmall;
      a{
        &:hover{
          text-decoration: none;
          border-bottom: $link-underline !important;
        }
      }
    }
  }
}
