.quote{
  background-color:$dark-grey;
  color:$white;
  padding-top:$spacing-regular;
  padding-bottom:$spacing-regular;
  text-align: center;
  p{
    font-family:$font-roboto-cond;
    font-weight: $light;
    font-size: $body-large;

    padding:0 $spacing-xxsmall;
    @include browse-large{
      padding:0 $spacing-small;
      font-size: $display-small;
    }
    &.source a{
      font-size:$navigation-small;
      color:$white !important;
      text-transform: uppercase;
      letter-spacing: $default-letter-spacing;
      &:hover{
        text-decoration: none;
        opacity: 0.9;
      }
    }
  }
}
