body{
  font-family: $font-montserrat;
  color:$black;

  h1, h2, h3{
    font-weight:$bold;
  }
  h1{
    font-size:$display-large;
    line-height: 150%;
    span{font-weight: $regular;}
    padding-bottom: $spacing-large;
    &.home{
      padding-right:$spacing-xxlarge;
      padding-top:$spacing-regular;
    }
    &.about{
      //padding-right:$spacing-large;
      padding-top:$spacing-xlarge;
      font-size:$display-xregular;
    }
  }
  h2{
    font-size:$display-regular;
  }
  h3{
    font-size:$display-small;
  }
  h4, h5, h6{
    font-family: $font-roboto-cond;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    font-weight: $bold;
  }
  h4{
    &.about{
      text-transform: capitalize;
      letter-spacing: 0;
      font-weight: $regular;
    }
  }
  p, a, ul, li{
    font-size:$body-regular;
    font-weight:$regular;
  }
  p.large{
    font-size:$body-large;
    margin-bottom: $display-regular}

  .btn{
    padding-top:$spacing-xsmall;
    padding-bottom:$spacing-xsmall;
    padding-left:$spacing-small;
    padding-right:$spacing-small;
    font-family: $font-roboto-cond;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    &.primary{
      &.on-white{
        color:$white;
        background:$red;
      }
    }
  }
  .hero{
    padding-top:$spacing-xlarge;
    padding-bottom:$spacing-large;
    &.about{
      padding-bottom:$spacing-small;
    }
  }
  img{
    &.about{
      max-width: 100%;
    }
  }
}
