html{scroll-behavior: smooth;}
body{
  font-family: $font-montserrat;
  color:$black;
  .container-fluid{
    padding-left:0;
    padding-right:0;
    padding-left:$spacing-xsmall;
    padding-right:$spacing-xsmall;
    @include browse-large{
      padding-left:$spacing-xlarge;
      padding-right:$spacing-xlarge;
    }
  }
  h1{
    font-size:$display-large;
    line-height: 150%;
    font-weight:$bold;
    span{font-weight: $regular;}
    padding-bottom: $spacing-large;
  }
  p, a, ul, li{
    font-size:$body-regular;
    font-weight:$regular;
  }
  p.large{
    font-size:$body-large;
    margin-bottom: $spacing-small;
  }
  p.small, p.small a{
    font-size:$body-small;
    margin-bottom: $spacing-xsmall;
  }

  a{
    text-decoration: none;
    color:$red;

    &:hover{
      color:$red;
      text-decoration: none;
      border-bottom: $link-underline;
    }
    &.btn{
      font-family: $font-roboto-cond;
      font-size: $navigation-small;
      text-transform: uppercase;
      letter-spacing: $default-letter-spacing;
      text-decoration: none;

      &.primary{
        padding-top:$spacing-xxsmall;
        padding-bottom:$spacing-xxsmall;
        padding-left:$spacing-xxsmall;
        padding-right:$spacing-xxsmall;
        border-bottom: none;
        border-radius:4px;
        &.on-white{
          color:$white;
          background:$red;
        }
        &.on-red{
        background:$white;
        }
        &:hover{
        opacity: 0.9;
        }

        @include browse-x-small{
          padding-top:$spacing-xsmall;
          padding-bottom:$spacing-xsmall;
          padding-left:$spacing-small;
          padding-right:$spacing-small;
        }
      }
      &.secondary{
        margin-left:$spacing-small;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid $white;
        border-radius:0;
        &:hover{
          border-bottom: $link-underline;
        }
      }

      @include browse-x-small{
        font-size: $navigation-regular;
      }
    }
  }

  .content{
    padding-top:$spacing-regular;
    padding-bottom:$spacing-regular;
  }

  .hero{
    padding-top:$spacing-xlarge;
    padding-bottom:$spacing-large;
  }

  .date{
    font-family: $font-roboto-cond;
    text-transform: uppercase;
    letter-spacing: $default-letter-spacing;
    font-size:$body-small;
    font-weight: $bold;
    a{
      font-size:$body-small !important;
    }
  }
  p.large.title{
      padding-bottom: 0;
      margin-bottom: 0;
      padding-top: $spacing-small;
  }
}
