html{scroll-behavior: smooth;}
body{
  font-family: $font-montserrat;
  color:$black;
  h1{
    font-size:$display-large;
    line-height: 150%;
    font-weight:$bold;
    span{font-weight: $regular;}
  }
  p.h2, p.h2 a{
    font-size:$display-small;
    font-weight:$bold;
    line-height: 125%;
    @include browse-small{
      font-size:$display-regular;
    }
    @include browse-medium{
      font-size:$display-small;
    }
    @include browse-large{
      font-size:$display-regular;
    }
  }
  p.h3{
    font-size:$display-xsmall;
    font-weight:$bold;
    line-height: 125%;
    padding-top:$spacing-small;
    @include browse-small{
      font-size:$display-small;
    }
    @include browse-medium{
      font-size:$display-xsmall;
      padding-top:$spacing-regular;
    }
    @include browse-large{
      font-size:$display-small;
    }
  }
  p, ul, li{
    font-size:$body-small;
    font-weight:$regular;

    @include browse-large{
      font-size:$body-regular;
    }
  }
 a.link{
    font-size:$body-xxsmall;
    text-transform: uppercase;
    letter-spacing: $small-letter-spacing;
    color:$black !important;
    @include browse-small{
      font-size:$body-xsmall;
    }
    @include browse-medium{
      font-size:$body-xxsmall;
    }
    @include browse-large{
      font-size:$body-xsmall;
    }
    @include browse-x-large{
      font-size:$body-small;
    }
    &.nav-link{
      font-family: $font-roboto-cond;
    }
 }
  p.large{
    font-size:$body-regular;
    margin-bottom: $spacing-small;
    padding-top:$spacing-xsmall;
    @include browse-small{
      font-size:$body-regular;
    }
    @include browse-medium{
      padding-top:0;
    }
    @include browse-large{
      font-size:$body-large;
    }

  }
  p.small, p.small a{
    font-size:$body-small;
    margin-bottom: $spacing-xsmall;
  }

  a{
    text-decoration: none;
    color:$red;

    &:hover{
      color:$red;
      text-decoration: none;
    //  border-bottom: $link-underline;
    }
    &.btn{
      font-family: $font-roboto-cond;
      font-size: $navigation-small;
      text-transform: uppercase;
      letter-spacing: $default-letter-spacing;
      text-decoration: none;

      &.primary{
        padding-top:$spacing-xxsmall;
        padding-bottom:$spacing-xxsmall;
        padding-left:$spacing-xsmall;
        padding-right:$spacing-xsmall;
        border-bottom: none;
        border-radius:4px;
        &.on-white{
          color:$white;
          background:$red;
        }
        &.on-red{
        background:$white;
        }
        &:hover{
        opacity: 0.9;
        }

        @include browse-medium{
          padding-top:$spacing-xsmall;
          padding-bottom:$spacing-xsmall;
          padding-left:$spacing-small;
          padding-right:$spacing-small;
        }
      }
      &.secondary{
        margin-left:$spacing-xsmall;
        padding-left: 0;
        padding-right: 0;
        border-bottom: 1px solid $white;
        border-radius:0;
        border-bottom: 1px solid rgba(0,0,0,0);
        &:hover{
          border-bottom: $link-underline;
        }
        @include browse-medium{
          margin-left:$spacing-small;
        }
      }

      @include browse-medium{
        font-size: $navigation-regular;
      }
    }
  }

  .content{
    padding-top:$spacing-regular;
    padding-bottom:$spacing-regular;
  }

  .hero{
    padding-top:$spacing-xregular;
    @include browse-medium{
      padding-top:$spacing-large;
    }
    @include browse-large{
      padding-top:$spacing-xlarge;
    }
  }

  p.title, p.date{
      padding-bottom: 0;
      margin-bottom: 0;
      font-size:$body-small;
  }
  p.date{
    padding-bottom:$spacing-xsmall;
    font-size:$body-xxsmall;
    @include browse-small{
      font-size:$body-xsmall;
    }
    @include browse-medium{
      font-size:$body-xxsmall;
    }
    @include browse-large{
      font-size:$body-xsmall;
    }
    @include browse-x-large{
      font-size:$body-small;
    }
  }
}
