

$font-montserrat: 'Montserrat', sans-serif;
$font-roboto-cond:'Roboto Condensed', sans-serif;

$bold:700;
$regular:400;
$light:300;

$display-xsmall:16px;
$display-small:22px;
$display-regular:30px;
$display-large:38px;

$body-xxsmall:10px;
$body-xsmall:12px;
$body-small:14px;
$body-regular:20px;
$body-large:24px;

$navigation-regular:14px;
$navigation-small:12px;


$white:#ffffff;
$black:#000000;
$dark-grey:#3F3F3F;
$grey:#6A6A6A;
$red:#d13438;
$red-gradient:linear-gradient(155.6deg, #A93D5D -81.56%, #B63B4A 45.22%, #7F293E 164.31%);

$spacing-xxxlarge:288px;
$spacing-xxlarge:216px;
$spacing-xlarge:128px;
$spacing-large:88px;
$spacing-xregular:72px;
$spacing-regular:48px;
$spacing-small:32px;
$spacing-xsmall:20px;
$spacing-xxsmall:12px;
$spacing-xxxsmall:8px;


$default-letter-spacing:1.5px;
$small-letter-spacing:1px;

$link-underline:solid 1px $red;

$shadow-light:0px 0px 8px rgba(90, 90, 90, 0.15);

// breakpoints
//$break-xx-small: 320px;
//$break-x-small: 375px;
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-x-large: 1200px;

// transitions
$transition-fast-ease: 0.1s ease;
$transition-fast-ease-in: 0.1s ease-in;
$transition-background: background 0.5s ease;

// MIXINS:
//@mixin browse-xx-small {
//   @media only screen and (min-width: $break-xx-small){
//    @content;
//  }
//}
//@mixin browse-x-small {
//   @media only screen and (min-width: $break-x-small){
//    @content;
//  }
//}
@mixin browse-small {
   @media only screen and (min-width: $break-small){
    @content;
  }
}
@mixin browse-medium {
   @media only screen and (min-width: $break-medium){
    @content;
  }
}
@mixin browse-large {
   @media only screen and (min-width: $break-large){
    @content;
  }
}
@mixin browse-x-large {
   @media only screen and (min-width: $break-x-large){
    @content;
  }
}
