
#home-backpack{
  background-color: #C51D4D;
}
#home-barkly{
  background-color: #042253;
}
#home-about{
  background-color: #042253;
}

#home-backpack, #home-barkly, #home-about{
  padding-top:$spacing-small;
  padding-bottom:$spacing-small;
  color:$white;
  img{
    max-width: 100%;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  a{
    font-family: $font-roboto-cond;
    color:$white !important;
    letter-spacing: $default-letter-spacing;
  }
  p.h2 a{
    font-family: $font-montserrat;
    text-transform: capitalize;
    letter-spacing: 0;
  }

  @include browse-medium{
    padding-top:0;
    padding-bottom:0;
  }
}


.example{
      padding-top:$spacing-xxsmall;
      @include browse-small{
        padding-top:$spacing-xsmall;
      }
      @include browse-large{
        padding-top:$spacing-regular;
      }
  h1, p.large{
    padding-bottom: 0;
    margin-bottom: 0;
  }
  h1{
    font-size:$display-regular;
    line-height: 125%;
    padding-bottom:$spacing-xxsmall;
    @include browse-medium{
      font-size:$display-large;
      line-height: 150%;
    }
  }
  .hero{
    padding-top:$spacing-large;
    padding-bottom:$spacing-xsmall;
    @include browse-medium{
      padding-bottom:$spacing-large;
    }
  }
  .h2{
      font-family: $font-roboto-cond;
      text-transform: uppercase;
      letter-spacing: $default-letter-spacing;
      font-size:$display-xsmall;
      font-weight:$bold;
      margin-top:0;
      margin-bottom: $spacing-xsmall;
  }
  .content{
    padding-top:0;

    @include browse-large{
        margin-bottom:$spacing-large;
    }
  }
  .small{
    font-size:$body-xsmall;
    //padding-right:$spacing-regular;
    @include browse-large{
      padding-right:$spacing-xsmall;
  }
    @include browse-x-large{
      padding-right:$spacing-small;
  }
}
  .btn.secondary{
    margin-left: 0;
  }
  img{
    padding-bottom: $spacing-large;
    max-height:750px;
  }
}
