<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto+Condensed" rel="stylesheet">
			<link rel="stylesheet" href="/assets/css/styles.css">
			<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous">
		</head>
		<body>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<div id="footer-cont">
				{% include footerContent-white.html %}
			</div>
		</body>
	</html>
